<% @mcomments.each do |mcomment| %>
<div class="media" id="mcomment-<%= mcomment.id %>">
  <%= link_to '#', class: 'pull-left' do %>
    <%= image_tag(mcomment.user.avatar.small.url) if mcomment.user.avatar? %>
  <% end %>
  <p><%= mcomment.body %></p>
  <div class="media-body">
    <small>
     <%= link_to mcomment.user.name, mcomment.user %> commented <%= mcomment.created_at.strftime("%b %d, %Y") %>
      <% if policy(mcomment).destroy? %>
        | <%= link_to "Delete", [mcomment.mpost, mcomment], method: :delete %>
      <% end %>
    </small>
  </div>
</div>
<% end %>